# Environment variables
.env

# Google Cloud credentials
*.json

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Project specific
input_docs/*
!input_docs/.gitkeep
analysis_results/*
!analysis_results/.gitkeep

backup/*

case_extractor_backup.py